* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
.clear {
    clear: both;
}
.hidden {
    display: none !important;
}
.m-t {
    margin-top: 15px !important;
}
#content-wrap {
    width: 100%;
    min-height: 100%;
    padding: 90px 0 55px 0;
    box-sizing: border-box;
    position: relative;
    background-color: #f2f2f2;
    z-index: 1;
}
#header {
    width: 100%;
    height: 90px;
    padding: 30px 20px 0 20px;
    box-sizing: border-box;
    background-color: #3097de;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
#footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #666666;
    font-size: 15px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}
#logo {
    display: block;    
    font-size: 30px;
    font-weight: bold;
    font-family: Consolas, sans-serif;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    color: #ffffff;
    text-shadow: 2px 2px 2px #333333;
    line-height: 1;
    float: left;
}
.btn {
    display: inline-block;    
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn.center {
    margin: 0 auto;
    background-color: #0073c7;
}
#h-login-btn {    
    float: right;
    background-color: #0073c7;
}
#h-logout-form {
    float: right;
}
#h-logout-btn {    
    background-color: #0073c7;
    margin-left: 30px;
}
#welcome {
    display: block;
    padding: 8px 0;
    float: right;
    font-size: 16px;
    color: #ffffff;
    line-height: 1;
}
#common-content {
    padding: 50px;
    text-align: center;
    color: #444444;
    font-family: Consolas, sans-serif;
}
#common-content .input-wrap input {
    text-align: center;
}
#menu {
    display: block;
    width: 280px;
    height: 100%;
    float: left;
    background-color: #d1d1d1;
}
#menu .item {
    display: block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid #f2f2f2;
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
#menu .item.active {
    border-right: 10px solid #f2f2f2;
    background-color: #666666;
    color: #ffffff;
    font-weight: normal;
}
#specific-content {
    width: auto;
    padding: 30px 20px 30px 320px;
    box-sizing: border-box;
}
#login-form {
    display: block;
    width: 250px;
    margin: 20px auto;
}
#payment-form {
    display: block;
    width: 300px;
}
.input-wrap, .select-wrap {
    width: 100%;
    height: 40px;
    border: 2px solid #3097de;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    border-radius: 3px;
}
.input-wrap input, .select-wrap select {
    display: block;
    width: 90%;
    height: 100%;
    font-size: 14px;
    color: #333333;  
    background: none;
    outline: none;
    border: none;
    margin: 0 auto;
}
.note {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #666666;
    margin-bottom: 20px;
}

#common-content .input-wrap input {
    text-align: center;
}
#login-form-btn {
    width: 100%;
    background-color: #0073c7;
}
.error-msg, .success-msg {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 3px;
}
.error-msg {    
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    color: #b94a48;
}
.success-msg {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #468847;
}
#specific-content h3 {
    color: #666666;
    margin-bottom: 20px;
}
.table {
    border-collapse: collapse;
    border-radius: 3px;
}
.table td {
    border: 1px solid #0073c7;
    padding: 13px 30px;
}
.table thead td {
    background-color: #0073c7;
    color: #ffffff;
    text-align: center; 
    font-size: 19px;
    font-style: italic;
}
.table tbody td {
    color: #333333;
    font-size: 15px;
    font-family: Consolas, sans-serif;
}
.table .btn {
    background-color: #0073c7;
}
.info-msg {
    display: inline-block;
    width: 50%;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #cccccc;
    color: #333333;
    font-size: 14px;
    border-radius: 3px;
}
#preloader {
    display: none;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    font-family: Consolas, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
#payment-form-btn {
    width: 100%;
    box-sizing: border-box;
}
.label {
    width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
    color: #777777;
}
#amount-available {
    margin-bottom: 30px;
}
#payment-part {
    display: none;
}